<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="color: brown;"><%= title %></h1>
    <p>Welcome to the <%= title %></p>
    <p>This is a simple app to form your book directory via
      <strong>GET</strong>, <strong>POST</strong>, <strong>PUT</strong> and <strong>DELETE</strong> methods.
      Click the link below.
    </p>
    <a href="/book" style="text-decoration: none; color: blueviolet;">Go to the book directory!</a>
  </body>
</html>
