<div class="navbar">
    <a class="main-btn btn" href="/">About</a>
    <a class="btn" href="/projects">List Projects</a>
    <a class="btn" href="/projects/search-form">Find Project</a>
    <a class="btn" href="/projects/add-form">Add Project</a>
    <a class="btn" href="/projects/modify-form">Modify Project</a>
    <a class="btn" href="/projects/delete-form">Delete Project</a>
</div>